<h2>Catalog Search</h2>
<p></p>
<form class="form-inline">
  <div class="form-group">
    <input #term type="text" class="form-control" id="q"
           placeholder="Enter search term">
  </div>
    <button (click)="search(term.value)" class="btn btn-primary" id="search">Search</button>
</form>

<div *ngIf="results" class="bs-search-result">
  <h4>Result:</h4>

  <div class="list-group" id="searchResult">
    <li *ngFor="let result of results | async" class="list-group-item bs-search-result-item">
      <div class="row">
        <div class="col-xs-8">
          {{result.title}}
        </div>
        <div class="col-xs-4">
          <span>{{result.price | currency}}</span>
          <button class="btn float-xs-right">
            Add to Cart
          </button>

        </div>
      </div>
    </li>
  </div>
</div>
